<!-- sidebar.html -->
<header class="sidebar-header" role="banner"><!--header是什么标签？，引用里的>什么意思-->
	<a href="{{ site.BASE_PATH }}/{{ site.landscape_path }}"><!--双大括号什么意思，html文件？-->
		<img src="{{ site.BASE_PATH }}/assets/image/sunset.jpg" class="img-rectangle sidebar-img"/>
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a><!--site指的是config.yml文件？-->
    </h3>
</header>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline social"> <!--这三个参数分别是什么意思？-->
		{% if site.author.facebook %}
		<li><!--list不是多行吗，这里如何成多列？-->
			<a class="facebook" href="{{ site.author.facebook }}" target="_blank" title="Facebook">Facebook</a>
			<!--facebook文字被图片掩盖了？hover时如何改变亮度的？--> 
		</li>
		{% endif %}
		{% if site.author.google %}
		<li>
			<a class="google" target="_blank" href="{{ site.author.google }}" title="Google+">Google+</a>
		</li>
		{% endif %}
		{% if site.author.twitter %}
		<li>
			<a class="twitter" target="_blank" href="{{ site.author.twitter }}" title="Twitter">Twitter</a>
		</li>
		{% endif %}
		{% if site.author.github %}
		<li>
			<a class="github" target="_blank" href="{{ site.author.github }}" title="GitHub">GitHub</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="linkedin" target="_blank" href="{{ site.author.linkedin }}" title="Linkedin">Linkedin</a>
		</li>
		{% endif %}
		{% if site.author.weibo %}
		<li>
			<a class="weibo" target="_blank" href="{{ site.author.weibo }}" title="新浪微博">新浪微博</a>
		</li>
		{% endif %}
		{% if site.author.wechat %}
		<li><!--微信这里的_target blank什么意思？-->
			<a class="weixin" href="{{ site.BASE_PATH }}/assets/image/wxqrcode.jpg" title="{{ site.author.wechat }}" target="_blank" onmouseover="weixin_mouseOver()" onmouseout="weixin_mouseOut()">微信</a>
		</li>
		{% endif %}
		{% if site.author.zhihu %}
		<li>
			<a class="zhihu" target="_blank" href="{{ site.author.zhihu }}" title="知乎">知乎</a>
		</li>
		{% endif %}
		{% if site.author.email %}
		<li>
			<a class="email" href="{{ site.author.email }}" title="EMail">EMail</a>
		</li>
		{% endif %}
		{% if site.author.rss %}
		<li>
			<a class="rss" target="_blank" href="{{ site.author.rss }}" title="RSS">RSS</a>
		</li>
		{% endif %}
	</ul>
	<div class="tag-title">
		<h5 class="navigation"><a href="{{ site.BASE_PATH }}/{{ site.landscape_path }}">Landscape</a></h5>
		<h5 class="navigation"><a href="{{ site.BASE_PATH }}/aaa.html">Home</a></h5>
			
		<h5 class="navigation"><a href="{{ site.BASE_PATH }}/people.html">People</a></h5>
	</div>
	<div>
		<img src="{{ site.BASE_PATH }}/assets/image/wxqrcode.jpg" class="wxqrcode" />
	</div>
</div>
<!-- sidebar.html end -->
